*{
    padding: 0;
    margin: 0;
}
.sidebar{
    background-color: rgb(210, 123, 123);
    height: 100vh;
    width: 434px;
    transition: transform 0.3s ease-in;

}
.sidebar nav{
    padding: 72px;
}
.sidebar nav li{
    list-style-type: none;
    font-size: 20px;
    padding: 30px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    
    width: 80vw;
    padding: ;
}
.container{
    display: flex;
}
.infoContainer{
    
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
.hello{
       font-size: 75px;
       
}
.name{
      font-size: 40px;
      font-weight: bold;
}
.about{
       font-size: 20px;
}
.about{
    font-size: 22px;
    padding-top: 23px;
}
.devPic img{
    width: 210px;
    
}
.about{
    font-size: 29px;
}
.buttons {
    margin-top: 34px;
    
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 18px;
    margin: 0 3px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}
.contactform{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 144px;
    padding: 0 34px;
}
.contactform h1{
    font-family: 'Courier New', Courier, monospace;
    
}
.contactform div{
    padding: 10px 0;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
}
button.btn.btn-primary{
    
    padding: 9px 10px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 0 3px;
    cursor: pointer;
}
.blogcontainer h1{
    margin: 15px;
}
.blogItem h2 {
    padding-top: 30px;
    margin: 20px;
}
.blogItem p{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: lightcoral;
}
.devInfo h1{
    margin: 10px;

}
.devInfo p{
    margin: 10px;
    color: plum;
}
.devInfo h2{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
}
.skill{
    width: 200px;
    height: 10px;
    background-color: red;
}
.ts{
    background-color: black;
}
.tb{
    background-color: blueviolet;
}
.td{
    background-color: darkgreen;
}
.hamberger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.cross{
    margin-left: 195px;
}
.sidebarGo{
    transform: translate(-443px,0px);
        position: absolute;
}
@media(max-width:944px){
    *{
        background-color: rgb(210, 42, 42);
    }
    /*.sidebar{
        transform: translate(-443px,0px);
        position: absolute;*/
    }
}
    


